
body {
    background-image: url("../images/login_bg.jpg");
    width: 100%;
    height: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

box-color .card-body {
    border-radius: 5px !important;
}

.box-color i, a {
    color: white !important;
}

.box-color:nth-child(even) .card-body {
    background-color: #272560;
}

.box-color:nth-child(odd) .card-body {
    background-color: #e54c54;
}

.header-box .topbar {
    background-color: #272560;
    border-bottom: navajowhite;
}

.box-color:hover .card-body {
    cursor: pointer !important;
}

.contacts-social a {
    background: #84562238 !important;
}

.btn-white {
    color: black !important;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #845622 !important;
}

.page-item.disabled .page-link {
    color: #6c757d !important;
    pointer-events: none;
    background-color: #fff !important;
    border-color: #dee2e6 !important;
}

.page-link {
    position: relative;
    display: block;
    color: #008cff !important;
    text-decoration: none;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
}

.page-link.active {
    background-color: #5b7d42 !important;
    color: white !important;
    border: none !important;
}

.avatar {
    width: 60px;
    height: 60px;
}
